<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Planetome | Listings</title>
  </head>
<h1 align="center">List of all listings</h1>

<%= render 'listing', obj: @listings %>

<!-- <p> Go to:  <%= link_to 'New Listing', new_listing_path %> | <%= link_to 'Main', root_path %> </p> -->
