<!DOCTYPE html>
<html lang="en">
  <head>

    <title>Planetome</title>

  </head>
  <body>
    <div class="jumbotron">

      <h1>CO-RENT PLACES WITH PEOPLE </br>BASED ON YOUR INTERESTS
      WORLDWIDE</h1>



      <%= link_to "Sign up now", "#", class: "btn btn-primary btn-lg btn-xlarge" %>
    </div>

    <div>
      <img src="https://c2.staticflickr.com/4/3928/32947863914_f3f71996ef_o.png" class="logo" />
    </div>
    <br/>
    <span>This is a index page</span>
    <br/>
    <span>roman@planetome.com</span>
    <br/>
    <p> Go to:  <%= link_to 'about', pages_about_path %> </p>
    <p> Go to:  <%= link_to 'New Listing', new_listing_path %> </p>
    <p> Go to:  <%= link_to 'Show Listings', listings_path %> </p>
  </body>
</html>
