<!DOCTYPE html>
<html lang="en">
  <head>

    <title>Planetome</title>

  </head>
  <body>

    <div class="center jumbotron">
      <div class="container" >

      <span ><h1 class="focus-in-expand-fwd">Rent better homes together.</h1></span>
      <h2>Worldwide</h2>

      <%= link_to 'Try it now!', signup_path, class: "btn btn-success btn-lg btn-xlarge " %>
    </div>
  </div>

  <div class="container">
    <!-- <h2>Image Gallery</h2>
    <p>The .thumbnail class can be used to display an image gallery.</p>
    <p>The .caption class adds proper padding and a dark grey color to text inside thumbnails.</p>
    <p>Click on the images to enlarge them.</p> -->
    <div class="row">
      <div class="col-md-4">
        <div class="thumbnail">
          <a href="/w3images/lights.jpg" target="_blank">
            <img src="/w3images/lights.jpg" alt="Lights" style="width:100%">
            <div class="caption">
              <p>Live with like minded people.</p>
            </div>
          </a>
        </div>
      </div>
      <div class="col-md-4">
        <div class="thumbnail">
          <a href="/w3images/nature.jpg" target="_blank">
            <img src="/w3images/nature.jpg" alt="Nature" style="width:100%">
            <div class="caption">
              <p>Lorem ipsum donec id elit non mi porta gravida at eget metus.</p>
            </div>
          </a>
        </div>
      </div>
      <div class="col-md-4">
        <div class="thumbnail">
          <a href="/w3images/fjords.jpg" target="_blank">
            <img src="/w3images/fjords.jpg" alt="Fjords" style="width:100%">
            <div class="caption">
              <p>Lorem ipsum donec id elit non mi porta gravida at eget metus.</p>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>

    <!-- <div>
      <img src="https://c2.staticflickr.com/4/3928/32947863914_f3f71996ef_o.png" class="logo" />
    </div>
    <br/>
    <script ></script>
    <span>This is a <div></div> page</span>
    <br/>
    <span>roman@planetome.com</span>
    <br/>
    <p> Go to:  <%= link_to 'about', pages_about_path %> </p>
    <p> Go to:  <%= link_to 'New Listing', new_listing_path %> </p>
    <p> Go to:  <%= link_to 'Show Listings', listings_path %> </p> -->
  </body>
</html>
