$navbar-default-bg: #003567;

@import "bootstrap-sprockets";
@import "bootstrap";
@-webkit-keyframes focus-in-expand-fwd{0%{letter-spacing:-.5em;-webkit-transform:translateZ(-800px);transform:translateZ(-800px);-webkit-filter:blur(12px);filter:blur(12px);opacity:0}100%{-webkit-transform:translateZ(0);transform:translateZ(0);-webkit-filter:blur(0);filter:blur(0);opacity:1}}@keyframes focus-in-expand-fwd{0%{letter-spacing:-.5em;-webkit-transform:translateZ(-800px);transform:translateZ(-800px);-webkit-filter:blur(12px);filter:blur(12px);opacity:0}100%{-webkit-transform:translateZ(0);transform:translateZ(0);-webkit-filter:blur(0);filter:blur(0);opacity:1}}


#logo {
  float: left;
  margin-top: -8px;

  // color: #fff;
  // font-size: 1.7em;
  // text-transform: uppercase;
  // letter-spacing: 0px;
  // font-weight: 600;
  // font-family: 'Open Sans', sans-serif;
}

#particles-js {
  width: 95vh;
  height: 100vh;
  background: #333;
}

#logo:hover {
  color: #fff;
  text-decoration: none;
}

.focus-in-expand-fwd {
	-webkit-animation: focus-in-expand-fwd 0.8s cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.4s both;
	-moz-animation: focus-in-expand-fwd 0.8s cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.4s both;
	animation: focus-in-expand-fwd 0.8s cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.4s both;
}

.listing-meta-details {
  // border-top: 3px, solid #eaeaea;
  margin-top: 25px;
}

.center {
    text-align: center;
}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    background-color: #D8D8D8;
    color: #000000;
}
.nav.navbar-nav li a {
    color: #fff;
}

.nav.navbar-nav li > .dropdown-menu a{
    color: #003261;
}

.navbar {
    margin-bottom: 0px;
    border-radius: 0px;
}

.jumbotron {
  position: relative;
  // background-image: linear-gradient(to top, #30cfd0 0%, #330867 100%);

  background-image: asset-url('jumbotron_bg-3.png');
  background-size: cover;
  height: 94vh;

}

.jumbotron h1 {
  color: #fff;
  text-shadow: 1px 1px 5px #000000;
  text-align: left;
  padding-top: 10vh;
  padding-bottom: 13vh;
  font-family: 'Open Sans' sans-serif;
}

.interests {
  font-weight: 900;
  color: #ffffff;
  text-shadow: 1px 1px 5px #000000;
}

.btn-xlarge {
  width: 190px;
  height: 50px;
  font-size: 1.7em;
  font-weight: bold;
}

.btn-navigation-signup {
  height: 35px;
}


.listing-actions{
  border-top: 1px solid #eaeaea;
  padding-top: 10px;
}

.listing-title {
  font-weight: bold;
  font-size: 1.5em;
}

.listing-body {
  border-top: 1px solid #eaeaea;
  padding-top: 15px;
  padding-bottom: 15px;

}

.center {
  text-align: center;
}

.listing {
  list-style: none;
  padding-left: 0;
}


footer {
  padding-top: 10px;
  margin-top: 100px;
  border-top: 1px solid #eaeaea;
  color: #777;
}

footer a:hover {
  color: #222;
}

footer small {
  float: left;
  padding-left: 10px;
}

footer p {
  float: right;
  padding-right: 10px;
}
