$navbar-default-bg: #003261;

@import "bootstrap-sprockets";
@import "bootstrap";


#logo {
  float: left;
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 0px;
  font-weight: 600;
  font-family: 'Open Sans', sans-serif;
}

#logo:hover {
  color: #fff;
  text-decoration: none;
}

.center {
    text-align: center;

}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    background-color: #D8D8D8;
    color: #000000;
}
.nav.navbar-nav li a {
   color: #fff;
 }

 .nav.navbar-nav li > .dropdown-menu a{
    color: #003261;
  }

.jumbotron {
  background-image: asset-url('jumbotron_bg.jpg');
  background-size: cover;
  height: 550px;
  // margin-top: -20px;
}

.jumbotron h2 {
  color: #fff;
  text-shadow: 2px 2px 4px #000000;
  text-align: center;
  padding-top: 15vh;
}

.btn-xlarge {
  text-align: center;
  }

footer {
  margin-top: 45px;
  padding-top: 10px;
  margin-top: 100px;
  border-top: 1px solid #eaeaea;
  color: #777;
}

footer a:hover {
  color: #222;
}
