$navbar-default-bg: #1D3557;




@import "bootstrap-sprockets";
@import "bootstrap";
@-webkit-keyframes focus-in-expand-fwd{0%{letter-spacing:-.5em;-webkit-transform:translateZ(-800px);transform:translateZ(-800px);-webkit-filter:blur(12px);filter:blur(12px);opacity:0}100%{-webkit-transform:translateZ(0);transform:translateZ(0);-webkit-filter:blur(0);filter:blur(0);opacity:1}}@keyframes focus-in-expand-fwd{0%{letter-spacing:-.5em;-webkit-transform:translateZ(-800px);transform:translateZ(-800px);-webkit-filter:blur(12px);filter:blur(12px);opacity:0}100%{-webkit-transform:translateZ(0);transform:translateZ(0);-webkit-filter:blur(0);filter:blur(0);opacity:1}}

body {
    color: #443A3A;
}

#p-margin-b-0 {
  margin-bottom: 0px;
}

#map {
  position: inherit; top:0; bottom:0; height:900px; width:100%;
}

#logo {
  float: left;
  margin-top: -5px;
}

#particles-js {
  width: 95vh;
  height: 100vh;
  background: #333;
}

#logo:hover {
  color: #000;
  text-decoration: none;
}

#nav-host  {
  // text-decoration: underline;
  color: #0a9fdf;
  margin-top: 15px;
}




#nav-guest a {
  // text-decoration: overline;
  color: #EECF2C;
}
#nav-guest a:hover {
  // text-decoration: overline;
  color: #ffffff;
}

#show-listing-body {
  background-image: linear-gradient(to top, #F1F7FF 0%, #F9FCFF 100%);
}

.label-host {

  background-color: #0a9fdf;
}

.panel {
  border: 2px;
  border-radius: 0px;
}

.well {

  border-radius: 2px;
}

.label-listing-card {
  margin-bottom: 14px;
  margin-right: 20px;
  padding-bottom: 7px;
  border-bottom: 2px solid #eaeaea;
}

.btn-listing-card {
  position: right;
}

.itme-list{
  padding-left: 30px;
}

.title-category {
  padding-left: 40px;
}

.btn-submit-listing {
  padding-bottom: 50px;
}

.form-container-listing {
  padding-top: 0px;
}

.focus-in-expand-fwd {
	-webkit-animation: focus-in-expand-fwd 0.8s cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.4s both;
	-moz-animation: focus-in-expand-fwd 0.8s cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.4s both;
	animation: focus-in-expand-fwd 0.8s cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.4s both;
}

.listing-meta-details {
  // border-top: 3px, solid #eaeaea;
  margin-top: 25px;
}

.center {
    text-align: center;
    position: center;
}

.listing-padding {
  padding-top: 40px;
}

.badge {
  background-image: linear-gradient(to top, #4DC5F9 0%, #0a9fdf 100%);
}
.badge-text {
  color: #fff;
  font-weight: 400;
}
.badge-text:hover {
  color: #545454;
  font-weight: 400;
}


.badge-interest {
  background-image: linear-gradient(to top, #05B1B7 0%, #50CED0 100%);
}
.badge-text-interest {
  color: #fff;
  font-weight: 400;
}
.badge-text-interest:hover {
  color: #0a9fdf;
  font-weight: 500;
}

.badge-red {
  background-image: linear-gradient(to top, #FC5928 0%, #FC5928 100%);
}

.badge-green {
  background-image: linear-gradient(to top, #45B254 0%, #45B254 100%);
}

.label-show-link {
  background-image: linear-gradient(to top, #11B512 0%, #37D232 100%);
}

.navbar-default .navbar-nav > li > a:hover {
    background-color: #4EB14D;
    border-radius: 0px;
    color: #ffffff;
}

.nav.navbar-nav li a {
    color: #fff;
}

.nav.navbar-nav li > .dropdown-menu a{
    color: #003261;
}

.navbar {
    margin-bottom: -1px;
    border-radius: 0px;
}

.navname {
  padding-top: 14px;
  padding-left: 5px;
  color: #7CB342;
}
.navimage {
  padding-left: 20px;
  padding-top: 4px;
}

.jumbotron {
  position: relative;
  // background-image: linear-gradient(to top, #30cfd0 0%, #330867 100%);
  // background-image: asset-url('background-header-v1.mp4');
  background-size: cover;
  height: 96vh;
  z-index:0;
}

#video-background {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
  z-index: -1;
  width:100%;
}



.jumbotron h1 {
  color: #fff;
  text-shadow: 1px 1px 5px #000000;
  text-align: center;
  padding-top: 20vh;
  padding-bottom: 1.5vh;
  font-family: 'Open Sans' sans-serif;
}
.jumbotron h3 {
  color: #fff;
  text-shadow: 1px 1px 5px #000000;
  text-align: left;
  padding-top: 3vh;
  padding-bottom: 3vh;
  align-self: left;
  font-family: 'Open Sans' sans-serif;
}

.desc-tag {
  background-color: rgba(27, 47, 77, 0.5);
  border-radius: 7px;
  padding-left: 5vh;
  padding-right: 5vh;
  margin-left: 14.5vh;
  margin-right: 14.5vh;
}

.interests {
  font-weight: 900;
  color: #ffffff;
  text-shadow: 1px 1px 5px #000000;
}

.btn-xlarge {
  width: 190px;
  height: 55px;
  font-size: 1.7em;
  font-weight: bold;
  background-color: #01A8E8;
  border-color: #01A8E8;

}
.btn-separator:after {
  content: ' ';
  display: block;
  float: left;
  background: #ffffff;
  margin: 0 10px;
  height: 55px;
  width: 3px;
}

.btn-navigation-signup {
  height: 35px;
}

.host-a-place {
  color: #4EB14D;
}

.listing-actions{
  // border-top: 0px solid #eaeaea;
  padding-top: 0px;
}

.panel-data-position {
  margin-left: -15px;
  margin-right: -10px;
}

.btn-request {
  width: 100%;
  // margin-left: -15px;
  // margin-right: 30px;
  margin-bottom: 20px;
}

.listing-title-text {
  color: #0a9fdf;
}
.listing-title {
  font-weight: bold;
  font-size: 1.6em;
}

.listing-body {
  border-top: 1px solid #eaeaea;
  padding-top: 15px;
  padding-bottom: 15px;
}

.center {
  text-align: center;
}

.listing {
  list-style: none;
  padding-left: 0;
}

.categoty {
  position: relative;
  left: 50%;
}

.edit-category {
  color: #fff;
  padding-bottom: 20px;
}

.edit-category-badge {
  margin-bottom: 15px;
}

.error-msg {
  margin-top: 20px;
}



footer {
  padding-top: 10px;
  margin-top: 100px;
  border-top: 1px solid #eaeaea;
  color: #777;
}

footer a:hover {
  color: #222;
}

footer small {
  float: left;
  padding-left: 10px;
}

footer p {
  float: right;
  padding-right: 10px;
}

.footer-logo {
  position: relative;
  left: 50%;
  margin-top: 12.5px;
}


.footer-bottom {
    background-color: #1D3557;
    min-height: 30px;
    width: 100%;
    bottom: 0;
    margin-bottom: 0px;
    position: inherit;
}
.copyright {
    color: #fff;
    line-height: 30px;
    min-height: 30px;
    padding: 7px 0;
}
.design {
    color: #fff;
    line-height: 30px;
    min-height: 30px;
    padding: 7px 0;
    text-align: right;
}
.design a {
    color: #fff;
}



// =============================

$photoGray: #B4B4B4;
$brand-primary: #00c38b;
$brand-danger: #d9625a;


.profilePhoto{
	width: 150px;
	margin: 0 auto;
	display: block;
	margin-bottom: 10px;
	height: 150px;
	border-radius: 75px;
	cursor: pointer;
}

div.photoPreview{
	border: 1px solid $photoGray;
	width: 150px;
	margin: 0 auto;
	margin-bottom: 10px;
	height: 150px;
	border-radius: 75px;
	cursor: pointer;
	background-repeat: no repeat;
	background-position: center;
	background-size: 100% 100% !important;
	text-align: center;
	.photoUpload {
		font-size: 32px;
		margin-top: 35px;
		color: $photoGray;
	}
	.fa {
		display: inline-block;
		text-rendering: auto;
	}
	p {
		color: $photoGray;
		font-size: 16px;
	}
}
input#uploadAvatar{
	display: none;
}
