$navbar-default-bg: #1D3557;




@import "bootstrap-sprockets";
@import "bootstrap";
@-webkit-keyframes focus-in-expand-fwd{0%{letter-spacing:-.5em;-webkit-transform:translateZ(-800px);transform:translateZ(-800px);-webkit-filter:blur(12px);filter:blur(12px);opacity:0}100%{-webkit-transform:translateZ(0);transform:translateZ(0);-webkit-filter:blur(0);filter:blur(0);opacity:1}}@keyframes focus-in-expand-fwd{0%{letter-spacing:-.5em;-webkit-transform:translateZ(-800px);transform:translateZ(-800px);-webkit-filter:blur(12px);filter:blur(12px);opacity:0}100%{-webkit-transform:translateZ(0);transform:translateZ(0);-webkit-filter:blur(0);filter:blur(0);opacity:1}}





#logo {
  float: left;
  margin-top: -5px;
}

#particles-js {
  width: 95vh;
  height: 100vh;
  background: #333;
}

#logo:hover {
  color: #000;
  text-decoration: none;
}

#nav-host a {
  text-decoration: underline;
  color: #4BEE4B;
}
#nav-host a:hover {
  text-decoration: underline;
  color: #ffffff;
}


#nav-guest a {
  text-decoration: overline;
  color: #EECF2C;
}
#nav-guest a:hover {
  text-decoration: overline;
  color: #ffffff;
}




.focus-in-expand-fwd {
	-webkit-animation: focus-in-expand-fwd 0.8s cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.4s both;
	-moz-animation: focus-in-expand-fwd 0.8s cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.4s both;
	animation: focus-in-expand-fwd 0.8s cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.4s both;
}

.listing-meta-details {
  // border-top: 3px, solid #eaeaea;
  margin-top: 25px;
}

.center {
    text-align: center;
}

.listing-padding {
  padding-top: 40px;
}

.navbar-default .navbar-nav > li > a:hover {
    background-color: #4EB14D;
    border-radius: 0px;
    color: #ffffff;
}

// .navbar-default .navbar-nav > li > a:focus {
//   background-color: #ffffff;
//   border-radius: 20px;
//   height: 25px;
//   margin-top: 10px;
//   color: #000000;
//
// }
.nav.navbar-nav li a {
    color: #fff;
}

.nav.navbar-nav li > .dropdown-menu a{
    color: #003261;
}

.navbar {
    margin-bottom: -1px;
    border-radius: 0px;
}

.navname {
  padding-top: 14px;
  padding-left: 5px;
  color: #7CB342;
}
.navimage {
  padding-left: 20px;
  padding-top: 4px;
}

.jumbotron {
  position: relative;
  // background-image: linear-gradient(to top, #30cfd0 0%, #330867 100%);
  background-image: asset-url('jumbotron_bg-4.png');
  background-size: cover;
  height: 95vh;
}

.jumbotron h1 {
  color: #fff;
  text-shadow: 1px 1px 5px #000000;
  text-align: center;
  padding-top: 20vh;
  padding-bottom: 1.5vh;
  font-family: 'Open Sans' sans-serif;
}
.jumbotron h3 {
  color: #fff;
  text-shadow: 1px 1px 5px #000000;
  text-align: left;
  padding-top: 3vh;
  padding-bottom: 3vh;
  align-self: left;
  font-family: 'Open Sans' sans-serif;
}

.desc-tag {
  background-color: rgba(27, 47, 77, 0.5);
  border-radius: 7px;
  padding-left: 5vh;
  padding-right: 5vh;
  margin-left: 14.5vh;
  margin-right: 14.5vh;
}

.interests {
  font-weight: 900;
  color: #ffffff;
  text-shadow: 1px 1px 5px #000000;
}

.btn-xlarge {
  width: 190px;
  height: 55px;
  font-size: 1.7em;
  font-weight: bold;
  background-color: #01A8E8;
  border-color: #01A8E8;

}
.btn-separator:after {
  content: ' ';
  display: block;
  float: left;
  background: #ffffff;
  margin: 0 10px;
  height: 55px;
  width: 3px;
}

.btn-navigation-signup {
  height: 35px;
}

.host-a-place {
  color: #4EB14D;
}

.listing-actions{
  border-top: 1px solid #eaeaea;
  padding-top: 10px;
}

.listing-title {
  font-weight: bold;
  font-size: 1.5em;
}

.listing-body {
  border-top: 1px solid #eaeaea;
  padding-top: 15px;
  padding-bottom: 15px;
}

.center {
  text-align: center;
}

.listing {
  list-style: none;
  padding-left: 0;
}




footer {
  padding-top: 10px;
  margin-top: 100px;
  border-top: 1px solid #eaeaea;
  color: #777;
}

footer a:hover {
  color: #222;
}

footer small {
  float: left;
  padding-left: 10px;
}

footer p {
  float: right;
  padding-right: 10px;
}
