<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Planetome</title>
    <link rel="stylesheet" href="style1.css" />
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet" />
  </head>
  <body>
    <img src="https://c2.staticflickr.com/4/3928/32947863914_f3f71996ef_o.png" class="logo" />
    <br/>
    <span>This is a index page</span>
    <br/>
    <span>roman@planetome.com</span>
    <br/>
    <p> Go to:  <%= link_to 'about', categories_about_path %> </p>

  </body>
</html>
