<div>
  <footer class="footer">
    <small>
      Copyright &copy; 2017 | <a href="http://www.planetome.com">Planetome Inc.</a>
      by Roman Mishiev.
    </small>
    <nav>
        <p><%= link_to 'About', pages_about_path %> |
        <%= link_to 'New Listing', new_listing_path %> |
        <%= link_to 'Show Listings', listings_path %></p>
    </nav>
  </footer>
</div>
