<div class="container">
  <footer class="footer">
    <small>
      Copyright &copy; <a href="http://www.planetome.com">2017 | Planetome Inc.</a>
      by Roman Mishiev.
    </small>
    <nav>

        <p><%= link_to 'About', pages_about_path %> |
          <%= link_to 'New Listing', new_listing_path %> |
          <%= link_to 'Show Listings', listings_path %></p>

    </nav>
  </footer>
</div>
